/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	margin-top: 0;
	background-color: #335a82;
	color: whitesmoke;
}

h1, h3, h5 {
	font-size: 2.5rem;
	padding: 30px 50px 10px;
}

h3 {
	padding-bottom: 30px;
}

.words {
	background-color: #1f2937;
	font-size: 15px;
	padding-left: 10px;
}

/* Main image */
.main-image,
.main-image-james,
.main-image-cath {
	max-width: 100%;
	height: auto;
	display: flex;
	margin: 0 auto;
	padding: 20px 50px;
}

/* Places */
.places {
	padding: 35px;
	display: flex;
	justify-content: space-evenly;
}

.places figure {
	position: relative;
	box-shadow: -15px -18px 19px 1px rgba(87, 15, 220, 0.5);
	overflow: hidden;
	border-radius: 15px;
	width: 100%;
	height: 300px;
}

.places figure:hover {
	transform: translateY(-15px);
	transition: transform 0.8s ease;
	box-shadow: -15px -18px 19px 1px rgba(11, 9, 9, 0.5);
}

.places figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

/* Header */
header {
	background: #1f2937;
	position: fixed;
	width: 100%;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 12rem;
}

.logo-container a {
	color: #f9faf8;
	font-size: 2.4rem;
	font-weight: bold;
}

.anchor-container {
	gap: 2.4rem;
	padding-right: 2.4rem;
}

.anchor-container a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 1.8rem;
	position: relative;
}

.current-page {
	font-weight: bold;
	font-size: 2rem;
	pointer-events: none;
}

.anchor-container a:hover {
	color: #3882f6;
}

.anchor-container a::after {
	content: "";
	width: 0;
	height: 2px;
	position: absolute;
	background-color: #e5e7eb;
	left: 0;
	bottom: -1px;
	transition: all 300ms;
}

.anchor-container a:hover::after {
	width: 100%;
	background-color: #3882f6;
}

/* Footer */
footer {
	background: #1f2937;
	color: #e5e7fb;
	font-size: 1.5rem;
}

footer p {
	margin-top: 2.4rem;
}

footer nav {
	gap: 1.2rem;
	margin-top: 1.2rem;
	padding: 1.2rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	font-size: 1.8rem;
	color: #e5e7fb;
}

.icon:hover {
	color: #3882f6;
}

/* Flex Center */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
	flex-direction: column;
}

